<header id="masthead" class="site-header clear">
  <div class="container">
    <div class="site-branding">
      <div id="logo">
        <span class="helper">
        </span>
        <a href="/" class="custom-logo-link" rel="home" itemprop="url">
          <img width="190" height="110" src="<%-CONSTANT.THEME_STATIC%>/images/logo.png" class="custom-logo" alt="博客X" itemprop="logo">
        </a>
      </div>
    </div>
    <nav id="primary-nav" class="primary-navigation tablet_menu_col_5 phone_menu_col_5">
      <div class="menu-primary-container">
        <ul id="primary-menu" class="sf-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
          <li id="menu-item-629"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-629">
            <a href="https://www.zhutibaba.com/demo/bokex/">
              首页
            </a>
          </li>
          <li id="menu-item-673"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-673">
            <a href="https://www.zhutibaba.com/demo/bokex/zhuanti" class="sf-with-ul">
              专题
            </a>
            <ul class="sub-menu" style="display: none;">
              <li id="menu-item-676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676">
                <a href="https://www.zhutibaba.com/demo/bokex/zhuanti-full">
                  全宽专题列表
                </a>
              </li>
              <li id="menu-item-678"
                class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-678">
                <a href="https://www.zhutibaba.com/demo/bokex/house">
                  专题页面
                </a>
              </li>
            </ul>
          </li>
          <li id="menu-item-690"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-690">
            <a href="https://www.zhutibaba.com/demo/bokex/pages" class="sf-with-ul">
              页面
            </a>
            <ul class="sub-menu" style="display: none;">
              <li id="menu-item-689" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-689">
                <a target="_blank" href="https://www.zhutibaba.com/demo/bokex/posts-100">
                  最新文章 (100篇)
                </a>
              </li>
              <li id="menu-item-688" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-688">
                <a target="_blank" href="https://www.zhutibaba.com/demo/bokex/posts-by-cat">
                  最新文章 (按目录)
                </a>
              </li>
              <li id="menu-item-693" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-693">
                <a href="https://www.zhutibaba.com/demo/bokex/full-width">
                  全宽页面
                </a>
              </li>
            </ul>
          </li>
          <li id="menu-item-387"
            class="color2 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-387">
            <a href="https://www.zhutibaba.com/demo/bokex/news" class="sf-with-ul">
              新闻
            </a>
            <ul class="sub-menu" style="display: none;">
              <li id="menu-item-591" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-591">
                <a href="https://www.zhutibaba.com/demo/bokex/news">
                  下拉菜单 1
                </a>
              </li>
              <li id="menu-item-590" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-590">
                <a href="https://www.zhutibaba.com/demo/bokex/news">
                  下拉菜单 2
                </a>
              </li>
              <li id="menu-item-592" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-592">
                <a href="https://www.zhutibaba.com/demo/bokex/news">
                  下拉菜单 3
                </a>
              </li>
            </ul>
          </li>
          <li id="menu-item-421"
            class="color3 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-421">
            <a href="https://www.zhutibaba.com/demo/bokex/tech" class="sf-with-ul">
              科技
            </a>
            <ul class="sub-menu" style="display: none;">
              <li id="menu-item-596" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-596">
                <a href="https://www.zhutibaba.com/demo/bokex/tech">
                  创业俱乐部
                </a>
              </li>
              <li id="menu-item-597" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-597">
                <a href="https://www.zhutibaba.com/demo/bokex/tech">
                  区块链
                </a>
              </li>
              <li id="menu-item-598" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-598">
                <a href="https://www.zhutibaba.com/demo/bokex/tech">
                  互联网
                </a>
              </li>
              <li id="menu-item-603" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-603">
                <a href="https://www.zhutibaba.com/demo/bokex/tech">
                  手机数码
                </a>
              </li>
              <li id="menu-item-604" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-604">
                <a href="https://www.zhutibaba.com/demo/bokex/tech">
                  WordPress
                </a>
              </li>
            </ul>
          </li>
          <li id="menu-item-587"
            class="color16 menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-has-children menu-item-587">
            <a href="https://www.zhutibaba.com/demo/bokex/house" class="sf-with-ul">
              房产
            </a>
            <ul class="sub-menu" style="display: none;">
              <li id="menu-item-605"
                class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-605">
                <a href="https://www.zhutibaba.com/demo/bokex/house">
                  新房
                </a>
              </li>
              <li id="menu-item-607"
                class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-607">
                <a href="https://www.zhutibaba.com/demo/bokex/house">
                  二手房
                </a>
              </li>
              <li id="menu-item-610"
                class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-610">
                <a href="https://www.zhutibaba.com/demo/bokex/house">
                  装修建材
                </a>
              </li>
              <li id="menu-item-608"
                class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-608">
                <a href="https://www.zhutibaba.com/demo/bokex/house">
                  家具家居
                </a>
              </li>
              <li id="menu-item-609"
                class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-609">
                <a href="https://www.zhutibaba.com/demo/bokex/house">
                  海外置业
                </a>
              </li>
            </ul>
          </li>
          <li id="menu-item-420"
            class="color4 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-420">
            <a href="https://www.zhutibaba.com/demo/bokex/auto" class="sf-with-ul">
              汽车
            </a>
            <ul class="sub-menu" style="display: none;">
              <li id="menu-item-599" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-599">
                <a href="https://www.zhutibaba.com/demo/bokex/auto">
                  上市新车
                </a>
              </li>
              <li id="menu-item-601" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-601">
                <a href="https://www.zhutibaba.com/demo/bokex/auto">
                  用车小百科
                </a>
              </li>
              <li id="menu-item-600" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-600">
                <a href="https://www.zhutibaba.com/demo/bokex/auto">
                  车型对比
                </a>
              </li>
              <li id="menu-item-602" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-602">
                <a href="https://www.zhutibaba.com/demo/bokex/auto">
                  汽车测评
                </a>
              </li>
            </ul>
          </li>
          <li id="menu-item-586"
            class="color9 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-586">
            <a href="https://www.zhutibaba.com/demo/bokex/finance">
              财经
            </a>
          </li>
          <li id="menu-item-422"
            class="color10 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-422">
            <a href="https://www.zhutibaba.com/demo/bokex/food">
              美食
            </a>
          </li>
          <li id="menu-item-589" class="color12 menu-item menu-item-type-custom menu-item-object-custom menu-item-589">
            <a target="_blank" href="https://www.zhutibaba.com/themes/bokex">
              下载
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header-right">
      <ul>
        <li class="header-login">
          <a href="https://www.zhutibaba.com/demo/bokex/login?redirect_to=https%3A%2F%2Fwww.zhutibaba.com%2Fdemo%2Fbokex%2F560.html"
            title="登录">
            登录
          </a>
        </li>
        <li class="header-register">
          <a href="https://www.zhutibaba.com/demo/bokex/register" title="注册">
            注册
          </a>
        </li>
        <li class="header-submit">
          <a href="https://www.zhutibaba.com/demo/bokex/login?redirect_to=https%3A%2F%2Fwww.zhutibaba.com%2Fdemo%2Fbokex%2F560.html?redirect_to=https://www.zhutibaba.com/demo/bokex/tougao"
            title="用户投稿">
            投稿
          </a>
        </li>
        <li class="header-search-icon">
          <span class="search-icon">
            <i class="fa fa-search">
            </i>
            <i class="fa fa-close">
            </i>
          </span>
        </li>
      </ul>
      <div class="header-search">
        <form id="searchform" method="get" action="https://www.zhutibaba.com/demo/bokex/">
          <input type="search" name="s" class="search-input" placeholder="请输入关键词" autocomplete="off">
          <button type="submit" class="search-submit">
            搜索
          </button>
        </form>
      </div>
    </div>
  </div>
</header>