<!DOCTYPE html>

<html lang="zh-CN"
  class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link type="text/css" media="all" href="<%-CONSTANT.THEME_STATIC%>/lib/autoptimize.css" rel="stylesheet">
  <title>多地住房公积金政策收紧 异地购房提取难度加大 – 博客X</title>
  <meta name="robots" content="noindex,follow">
  <link rel="dns-prefetch" href="https://s.w.org/">
  <script type="text/javascript" src="<%-CONSTANT.THEME_STATIC%>/lib/jquery.js"></script>
  <link rel="prev" title="最全汇总：iPhone X Plus的传闻都在这儿了" href="https://www.zhutibaba.com/demo/bokex/147.html">
  <link rel="next" title="JEEP全新牧马人高清官图曝光,彰显与时俱进的新一代野性!" href="https://www.zhutibaba.com/demo/bokex/168.html">
  <link rel="canonical" href="https://www.zhutibaba.com/demo/bokex/560.html">
  <script src="<%-CONSTANT.THEME_STATIC%>/js/share.js"></script>
  <link rel="stylesheet" href="<%-CONSTANT.THEME_STATIC%>/css/share_style.css">
</head>

<body class="post-template-default single single-post postid-560 single-format-standard wp-custom-logo">
  <div id="page" class="site">
    
    <% include ../common/top-menu.html %>

    <div id="content" class="site-content site_container container clear">
      <div id="primary" class="content-area">
        <div class="content-wrapper">
          <main id="main" class="site-main">
            <article id="post-560"
              class="post-560 post type-post status-publish format-standard has-post-thumbnail hentry category-house tag-20 tag-28 tag-30">
              <div class="single-breadcrumbs"> <span>您的位置</span> <i class="fa fa-angle-right"></i> <a
                  href="https://www.zhutibaba.com/demo/bokex">首页</a> <i class="fa fa-angle-right"></i> <a
                  href="https://www.zhutibaba.com/demo/bokex/house">房产</a></div>
              <header class="entry-header">
                <h1 class="entry-title">多地住房公积金政策收紧 异地购房提取难度加大</h1>
                <div class="entry-meta"> <span class="entry-author"> 作者: <a
                      href="https://www.zhutibaba.com/demo/bokex/author/zhutibaba"> 网站小编 </a> </span> <span
                    class="entry-source"> 来源: 新浪 </span> <span class="entry-date"> 发布: 2018年7月29日 </span> <span
                    class="entry-views"><i class="flaticon-eye"></i> 787<em>阅读</em></span> <span
                    class="entry-comment"><a href="https://www.zhutibaba.com/demo/bokex/560.html#respond"
                      class="comments-link"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>
                      0<em>评论</em></a></span> <span class="custom-share" style="display: inline;"> <span
                      class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1557667461930"> <a
                        href="https://www.zhutibaba.com/demo/bokex/560.html#" class="bds_tsina" data-cmd="tsina"
                        title="分享到新浪微博"></a> <a href="https://www.zhutibaba.com/demo/bokex/560.html#" class="bds_weixin"
                        data-cmd="weixin" title="分享到微信"></a> <a href="https://www.zhutibaba.com/demo/bokex/560.html#"
                        class="bds_sqq" data-cmd="sqq" title="分享给QQ好友"></a> <a
                        href="https://www.zhutibaba.com/demo/bokex/560.html#" class="bds_qzone" data-cmd="qzone"
                        title="分享到QQ空间"></a> </span> </span></div>
              </header>
              <div class="single-excerpt">
                <p>由于房价普遍上涨，多地的公积金贷款上限已经明显偏低，难以满足购房者的资金需求。专家建议，各地应上调公积金贷款额度。</p>
              </div>
              <div class="entry-content"> <img width="640" height="460"
                  src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/b47-640x460.png"
                  class="attachment-boke_x_single_thumb size-boke_x_single_thumb wp-post-image" alt="">
                <p>
                  为防止提取住房公积金用于炒房投机，近日，广东、内蒙古、广西等省份和一些地级市相继调整公积金提取政策，收紧了异地购房、离婚购房提取公积金等操作，但多地也都强调，支持提取公积金用于购买首套住房或二套改善型住房。
                </p>
                <p>此外，由于房价普遍上涨，多地的公积金贷款上限已经明显偏低，难以满足购房者的资金需求。专家建议，各地应上调公积金贷款额度。</p>
                <p><strong>异地购房、离婚购房提取公积金受限</strong></p>
                <p>
                  早在今年5月，住建部等4部委就发布了关于开展治理违规提取住房公积金工作的通知，称一些机构和个人通过伪造证明材料、虚构住房消费行为等手段违规提取住房公积金，甚至形成骗提套取住房公积金的“黑色产业链”，扰乱了住房公积金管理秩序，要求从多方面规范改进公积金提取政策。
                </p>
                <p>之后，多地根据上述通知，对住房公积金提取政策进行调整，而重点基本都落在了非户籍地非缴存地购房、多次变更婚姻关系购房等行为上。</p>
                <p>7月17日，广东省住建厅、财政厅等部门要求，对于同一人多次变更婚姻关系购房和多人频繁买卖同一套住房等情况，不允许其申请提取住房公积金。</p>
                <p>
                  对于异地购房尤其是非户籍地非缴存地购房、非配偶或非直系亲属共同购房等申请提取住房公积金的情况，广东省规定，各地可结合自身实际情况阶段性停止实施该类型提取政策；继续实施该类型提取政策的地方，要严格审核申请提取住房公积金的资格。
                </p>
                <p>
                  杭州住房公积金管理中心要求，职工在非本市及非户籍地购房及偿还住房贷款本息的，不得提取住房公积金。对同一人多次变更婚姻关系购房、多人频繁买卖同一套住房、非配偶或非直系亲属共同购房等申请提取住房公积金的，要严格审核住房消费行为和证明材料的真实性。
                </p>
                <p>内蒙古6月底出台规定，不再支持非缴存地及非户籍地购房提取住房公积金，取消装修住房、购买车库、车位和缴纳购房维修基金、契税、办证费提取使用公积金。</p>
                <p>“这是从信贷角度对炒房者的一个封堵，但由于绝大多人的公积金账户没有多少钱，对市场的影响不大。”中原地产首席分析师张大伟对中新经纬客户端（微信公众号：jwview）说。</p>
                <p><strong>超8成公积金贷款流向首套房</strong></p>
                <p>易居研究院智库中心研究总监严跃进对中新经纬客户端（微信公众号：jwview）表示，住房公积金政策的收紧，在对炒房者适当设限的同时，也让刚需购房者更容易使用公积金。</p>
                <p>事实上，多地明确，支持提取住房公积金用于购买首套住房或二套改善型住房，支持提取公积金支付房租。</p>
                <p>
                  广东提出，提取政策要向首次置业、购买普通商品住房和在户籍地或缴存地购房等情况倾斜。加大提取住房公积金支付房租政策支持力度。广西表示，优先支持提取住房公积金支付房租，重点支持提取住房公积金在缴存地或户籍地购买首套普通住房和二套改善型住房。
                </p>
                <p>数据也表明，住房公积金贷款主要用于首套房贷款的发放。《全国住房公积金2017年年度报告》显示，2017年全国发放住房公积金个人住房贷款9534.85亿元，其中，首套房贷款占贷款总额的85.63%。
                </p>
                <p>租房方面，上述报告称，2017年，住房租赁提取金额444.76亿元，同比增长22.21%；住房租赁提取人数495.52万人，人均提取金额0.9万元。</p>
                <p>
                  由于住房公积金贷款的利率相对较低，自然也成为许多购房者首选的贷款途径。根据前述报告，公积金个人住房贷款利率比同期商业性个人住房贷款基准利率低1.65—2个百分点，2017年发放的住房公积金个人住房贷款，可为贷款职工节约利息支出1944.70亿元，平均每笔贷款可节约利息支出7.63万元。
                </p>
                <p>但严跃进称，由于公积金贷款办理流程慢，可能会增加交易中的不确定性风险，导致房地产开发商对公积金贷款有一定的抵触。</p>
                <p>对此，住建部等7部委在北京、上海等30个城市开展的治理房地产市场乱象专项行动中就提出，打击限制阻挠使用公积金的房地产开发企业。</p>
                <p><strong>个人贷款上限明显不足</strong></p>
                <p>经过本轮房价调整，许多一二线城市住宅售价已经出现明显上涨，对于需要通过住房公积金贷款买房的人来说，公积金的贷款上限已经偏低，难以满足动辄上百万甚至数百万的资金需求。</p>
                <p>
                  在北京，使用住房公积金贷款，首套房的最高贷款额度为120万元。以首付最低35%计算，购房者如果只使用公积金贷款，房屋总价最高不能超过184万元。如今，在北京想买到总价款不足200万、且满足一个家庭居住需求的商品住宅，几乎很难做到。
                </p>
                <p>
                  张大伟表示，现在的公积金贷款上限太低，很难满足正常的购房需求，建议各地上调贷款额度。他说：“由于贷款额度偏低等原因，购房者想使用公积金贷款，就需要付出更高的首付，而这将很多低收入群体拒之门外。公积金贷款的低利率，反倒被有钱人享受了，这违背了公积金的互助性。”
                </p>
                <p>面对上限不足，无锡市6月底就发布通知，将提高职工家庭首次使用住房公积金贷款购买自住住房的最高贷款额度，借款人及配偶均符合贷款条件的，最高贷款额度可从现在的60万元调整为80万元。</p>
                <p>
                  张大伟称，贷款额度的上调，要把握一个度，太高容易放大风险，可以以城市的保障性住房价格作为参考，“在北京，购买一套共有产权住房大概需要200—250万左右，那北京的公积金贷款上限就应该上调至180万元，保证一个中低收入家庭能够购得一套房子。”
                </p>
              </div>
              <div class="single-credit"> 本文来自网络，不代表博客X立场，转载请注明出处：https://www.zhutibaba.com/demo/bokex/560.html</div>
              <div class="entry-footer clear">
                <div id="myModal" class="modal">
                  <div class="modal-content clear">
                    <h3>给这篇文章的作者打赏</h3>
                    <div class="ht_grid_1_2_custom"> <img src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/weixin-code.png"
                        alt="微信扫一扫打赏"> 微信扫一扫打赏</div>
                    <div class="ht_grid_1_2_custom"> <img src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/alipay-code.png"
                        alt="微信扫一扫打赏"> 支付宝扫一扫打赏</div> <span class="close">×</span>
                  </div>
                </div>
                <div class="entry-footer-right"> <span class="entry-sponsor"> <span id="myBtn" href="#"><i
                        class="fa fa-jpy"></i> 打赏</span> </span> <span class="entry-like"> <span class="sl-wrapper"><a
                        href="https://www.zhutibaba.com/demo/bokex/wp-admin/admin-ajax.php?action=process_simple_like&amp;post_id=560&amp;nonce=c5a23b5ccf&amp;is_comment=0&amp;disabled=true"
                        class="sl-button sl-button-560" data-nonce="c5a23b5ccf" data-post-id="560" data-iscomment="0"
                        title="点赞这篇文章"><span class="sl-count"><i class="fa fa-thumbs-o-up"></i>
                          70<em>赞</em></span></a><span class="sl-loader"></span></span> </span></div>
              </div>
              <div class="entry-bottom clear">
                <div class="entry-tags"> <span class="tag-links"><span>标签:</span><a
                      href="https://www.zhutibaba.com/demo/bokex/tag/%e5%85%ac%e7%a7%af%e9%87%91" rel="tag">公积金</a> <a
                      href="https://www.zhutibaba.com/demo/bokex/tag/%e6%a0%87%e7%ad%be%e4%b8%80" rel="tag">标签一</a> <a
                      href="https://www.zhutibaba.com/demo/bokex/tag/%e6%a0%87%e7%ad%be%e4%ba%8c"
                      rel="tag">标签二</a></span></div> <span class="custom-share" style="display: inline;"> <span
                    class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1557667461930"> <a
                      href="https://www.zhutibaba.com/demo/bokex/560.html#" class="bds_tsina" data-cmd="tsina"
                      title="分享到新浪微博"></a> <a href="https://www.zhutibaba.com/demo/bokex/560.html#" class="bds_weixin"
                      data-cmd="weixin" title="分享到微信"></a> <a href="https://www.zhutibaba.com/demo/bokex/560.html#"
                      class="bds_sqq" data-cmd="sqq" title="分享给QQ好友"></a> <a
                      href="https://www.zhutibaba.com/demo/bokex/560.html#" class="bds_qzone" data-cmd="qzone"
                      title="分享到QQ空间"></a> </span> </span>
              </div>
            </article>
            <div class="author-box clear"> <a href="https://www.zhutibaba.com/demo/bokex/author/zhutibaba"><img alt=""
                  src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/4c2ed72c6be86742f05e9750110d5731.png"
                  srcset="https://secure.gravatar.com/avatar/4c2ed72c6be86742f05e9750110d5731?s=240&amp;d=mm&amp;r=g 2x"
                  class="avatar avatar-120 photo" height="120" width="120"></a>
              <div class="author-meta">
                <h4 class="author-name">作者: <span class="hover-underline"><a
                      href="https://www.zhutibaba.com/demo/bokex/author/zhutibaba">网站小编</a></span></h4>
                <div class="author-desc">
                  主题巴巴团队从2009年开始专注于WordPress主题设计开发，致力于为更多用户能轻松使用WordPress打造出更漂亮、更好用、更专业的网站。已累计开发近100款主题，全球付费客户超过3万人。主题巴巴，是您可以长期信赖的伙伴。
                </div>
              </div>
            </div>
            <div id="happythemes-ad-6" class="single-bottom-ad widget_ad ad-widget">
              <div class="adwidget"><a href="https://www.zhutibaba.com/themes/bokex" target="_blank"><img
                    src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/content-ad.png" alt="广告位"></a></div>
            </div>
            <div class="related-content">
              <h3 class="section-title">相关文章</h3>
              <ul class="clear">
                <li class="hentry ht_grid_1_3"> <a class="thumbnail-link"
                    href="https://www.zhutibaba.com/demo/bokex/294.html">
                    <div class="thumbnail-wrap"> <img width="243" height="156"
                        src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/g17-243x156.jpg"
                        class="attachment-boke_x_list_thumb size-boke_x_list_thumb wp-post-image" alt=""></div>
                  </a>
                  <h2 class="entry-title"><a
                      href="https://www.zhutibaba.com/demo/bokex/294.html">超美的三亚,5天4晚全五星酒店高大上自由行</a></h2>
                </li>
                <li class="hentry ht_grid_1_3"> <a class="thumbnail-link"
                    href="https://www.zhutibaba.com/demo/bokex/365.html">
                    <div class="thumbnail-wrap"> <img width="243" height="156"
                        src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/b49-243x156.png"
                        class="attachment-boke_x_list_thumb size-boke_x_list_thumb wp-post-image" alt=""></div>
                  </a>
                  <h2 class="entry-title"><a href="https://www.zhutibaba.com/demo/bokex/365.html">百城住宅库存连跌35个月
                      三四线库存创10年新低</a></h2>
                </li>
                <li class="hentry ht_grid_1_3"> <a class="thumbnail-link"
                    href="https://www.zhutibaba.com/demo/bokex/558.html">
                    <div class="thumbnail-wrap"> <img width="243" height="156"
                        src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/b48-243x156.jpg"
                        class="attachment-boke_x_list_thumb size-boke_x_list_thumb wp-post-image" alt=""
                        srcset="https://www.zhutibaba.com/demo/bokex/wp-content/uploads/sites/11/2018/07/b48-243x156.jpg 243w, https://www.zhutibaba.com/demo/bokex/wp-content/uploads/sites/11/2018/07/b48-300x191.jpg 300w, https://www.zhutibaba.com/demo/bokex/wp-content/uploads/sites/11/2018/07/b48-768x490.jpg 768w, https://www.zhutibaba.com/demo/bokex/wp-content/uploads/sites/11/2018/07/b48-1024x653.jpg 1024w, https://www.zhutibaba.com/demo/bokex/wp-content/uploads/sites/11/2018/07/b48.jpg 1252w"
                        sizes="(max-width: 243px) 100vw, 243px"></div>
                  </a>
                  <h2 class="entry-title"><a
                      href="https://www.zhutibaba.com/demo/bokex/558.html">内房股20强半年销售额破2万亿:融信中国排名升幅居前</a></h2>
                </li>
                <li class="hentry ht_grid_1_3"> <a class="thumbnail-link"
                    href="https://www.zhutibaba.com/demo/bokex/64.html">
                    <div class="thumbnail-wrap"> <img width="243" height="156"
                        src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/16-243x156.jpg"
                        class="attachment-boke_x_list_thumb size-boke_x_list_thumb wp-post-image" alt=""></div>
                  </a>
                  <h2 class="entry-title"><a
                      href="https://www.zhutibaba.com/demo/bokex/64.html">中兴通讯选出新一届管理层：徐子阳为CEO</a></h2>
                </li>
                <li class="hentry ht_grid_1_3"> <a class="thumbnail-link"
                    href="https://www.zhutibaba.com/demo/bokex/99.html">
                    <div class="thumbnail-wrap"> <img width="243" height="156"
                        src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/27-243x156.jpg"
                        class="attachment-boke_x_list_thumb size-boke_x_list_thumb wp-post-image" alt=""></div>
                  </a>
                  <h2 class="entry-title"><a href="https://www.zhutibaba.com/demo/bokex/99.html">摩洛哥撒哈拉攻略干货，解锁网红拍照点</a>
                  </h2>
                </li>
                <li class="hentry ht_grid_1_3"> <a class="thumbnail-link"
                    href="https://www.zhutibaba.com/demo/bokex/96.html">
                    <div class="thumbnail-wrap"> <img width="243" height="156"
                        src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/26-243x156.jpg"
                        class="attachment-boke_x_list_thumb size-boke_x_list_thumb wp-post-image" alt=""
                        srcset="https://www.zhutibaba.com/demo/bokex/wp-content/uploads/sites/11/2018/07/26-243x156.jpg 243w, https://www.zhutibaba.com/demo/bokex/wp-content/uploads/sites/11/2018/07/26-550x350.jpg 550w"
                        sizes="(max-width: 243px) 100vw, 243px"></div>
                  </a>
                  <h2 class="entry-title"><a href="https://www.zhutibaba.com/demo/bokex/96.html">盛夏喀纳斯，踏上寻找水怪之旅</a></h2>
                </li>
              </ul>
            </div>
            <div id="comments" class="comments-area">
              <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">发表评论 <small><a rel="nofollow"
                      id="cancel-comment-reply-link" href="https://www.zhutibaba.com/demo/bokex/560.html#respond"
                      style="display:none;">取消回复</a></small></h3>
                <div class="comment-form">
                  <div class="comment-must-login">请登录后参与评论...</div>
                  <div class="form-submit">
                    <div class="form-submit-text pull-left"><a
                        href="https://www.zhutibaba.com/demo/bokex/login?redirect_to=https%3A%2F%2Fwww.zhutibaba.com%2Fdemo%2Fbokex%2F560.html?redirect_to=https://www.zhutibaba.com/demo/bokex/560.html">登录</a>
                      • <a
                        href="https://www.zhutibaba.com/demo/bokex/register?redirect_to=https://www.zhutibaba.com/demo/bokex/560.html">注册</a>
                    </div><a id="must-login" class="submit"
                      href="https://www.zhutibaba.com/demo/bokex/login?redirect_to=https%3A%2F%2Fwww.zhutibaba.com%2Fdemo%2Fbokex%2F560.html?redirect_to=https://www.zhutibaba.com/demo/bokex/560.html">发布</a>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <aside id="secondary" class="widget-area sidebar is-affixed" style="height: 1084px; position: relative;">
        <div class="sidebar__inner" style="position: relative; transform: translate3d(0px, 3165px, 0px);">
          <div id="happythemes-ad-2" class="widget widget_ad ad-widget">
            <div class="adwidget"><a href="https://www.zhutibaba.com/themes/bokex" target="_blank"><img
                  src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/ad-2.jpg" alt=""></a></div>
            <h2 class="widget-title" style="display: block;">广告</h2>
          </div>
          <div id="boke_x-views-2" class="widget widget-boke-x-views widget_posts_thumbnail">
            <h2 class="widget-title">浏览最多的文章</h2>
            <ul>
              <li class="clear"><a href="https://www.zhutibaba.com/demo/bokex/375.html" rel="bookmark">
                  <div class="thumbnail-wrap"><img width="300" height="150"
                      src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/p2-300x150.jpeg"
                      class="attachment-boke_x_widget_thumb size-boke_x_widget_thumb wp-post-image" alt=""></div>
                </a>
                <div class="entry-wrap" style="display: block;"><a href="https://www.zhutibaba.com/demo/bokex/375.html"
                    rel="bookmark">美拟补贴贸易战中受损农场主遭反对：不要补贴要市场</a></div>
              </li>
              <li class="post-list"><span>1</span><a href="https://www.zhutibaba.com/demo/bokex/176.html"
                  rel="bookmark">呼伦贝尔: 你不可错过的辽阔草原和兴安秋色!</a></li>
              <li class="post-list"><span>2</span><a href="https://www.zhutibaba.com/demo/bokex/294.html"
                  rel="bookmark">超美的三亚,5天4晚全五星酒店高大上自由行</a></li>
              <li class="post-list"><span>3</span><a href="https://www.zhutibaba.com/demo/bokex/168.html"
                  rel="bookmark">JEEP全新牧马人高清官图曝光,彰显与时俱进的新一代野性!</a></li>
              <li class="post-list"><span>4</span><a href="https://www.zhutibaba.com/demo/bokex/70.html"
                  rel="bookmark">世界杯最大牌女球迷，一举动令人钦佩</a></li>
              <li class="post-list"><span>5</span><a href="https://www.zhutibaba.com/demo/bokex/355.html"
                  rel="bookmark">百胜中国“捐一元”开启第十一年爱心之旅</a></li>
            </ul>
          </div>
          <div id="happythemes-ad-3" class="widget widget_ad ad-widget">
            <div class="adwidget"><a href="https://www.zhutibaba.com/themes/bokex" target="_blank"><img
                  src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/ad-1.jpg" alt=""></a></div>
            <h2 class="widget-title" style="display: block;">广告</h2>
          </div>
          <div id="boke_x-popular-2" class="widget widget-boke-x-popular widget_posts_thumbnail">
            <h2 class="widget-title">评论最多的文章</h2>
            <ul>
              <li class="clear"><a href="https://www.zhutibaba.com/demo/bokex/87.html" rel="bookmark">
                  <div class="thumbnail-wrap"><img width="300" height="150"
                      src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/23-300x150.png"
                      class="attachment-boke_x_widget_thumb size-boke_x_widget_thumb wp-post-image" alt=""></div>
                </a>
                <div class="entry-wrap" style="display: block;"><a href="https://www.zhutibaba.com/demo/bokex/87.html"
                    rel="bookmark">拉丁美洲的春季 秘鲁探秘的最佳时节</a></div>
              </li>
              <li class="post-list"><span>1</span><a href="https://www.zhutibaba.com/demo/bokex/70.html"
                  rel="bookmark">世界杯最大牌女球迷，一举动令人钦佩</a></li>
              <li class="post-list"><span>2</span><a href="https://www.zhutibaba.com/demo/bokex/176.html"
                  rel="bookmark">呼伦贝尔: 你不可错过的辽阔草原和兴安秋色!</a></li>
              <li class="post-list"><span>3</span><a href="https://www.zhutibaba.com/demo/bokex/292.html"
                  rel="bookmark">在WordPress网站写的第一篇文章</a></li>
              <li class="post-list"><span>4</span><a href="https://www.zhutibaba.com/demo/bokex/335.html"
                  rel="bookmark">彭博社: 130亿美元的中国电竞市场 腾讯只想当主演</a></li>
              <li class="post-list"><span>5</span><a href="https://www.zhutibaba.com/demo/bokex/341.html"
                  rel="bookmark">海关总署：已立即暂停采购和使用长春长生各类疫苗</a></li>
            </ul>
          </div>
          <div id="post-nav" class="clear">
            <div class="post-previous"> <a class="previous" href="https://www.zhutibaba.com/demo/bokex/294.html">
                <span><i class="fa fa-angle-left"></i> 上一篇</span>
                <div class="thumbnail-wrap"> <img width="300" height="150"
                    src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/g17-300x150.jpg"
                    class="attachment-boke_x_widget_thumb size-boke_x_widget_thumb wp-post-image" alt=""></div>
                <h4>超美的三亚,5天4晚全五星酒店高大上自由行</h4> <small>2018年7月27日 07:01</small>
                <div class="gradient"></div>
              </a></div>
          </div>
        </div>
      </aside>
    </div>
    
    <footer id="colophon" class="site-footer">
      <div class="clear"></div>
      <div id="site-bottom" class="clear">
        <div class="container">
          <div class="footer-left">
            <div class="footer-logo"> <img src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/footer-logo.png" alt=""></div>
            <div class="menu-posts-container">
              <ul id="footer-menu" class="footer-nav">
                <li id="menu-item-714" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-714"><a
                    href="https://www.zhutibaba.com/demo/bokex/zhuanti-full">全宽专题</a></li>
                <li id="menu-item-710" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-710"><a
                    target="_blank" href="https://www.zhutibaba.com/themes/bokex">直达链接</a></li>
                <li id="menu-item-711" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-711"><a
                    target="_blank" href="https://www.zhutibaba.com/themes">购买主题</a></li>
                <li id="menu-item-712" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-712"><a
                    target="_blank" href="https://www.zhutibaba.com/demo/bokex/posts-by-cat">按目录分类</a></li>
                <li id="menu-item-713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-713"><a
                    target="_blank" href="https://www.zhutibaba.com/demo/bokex/posts-100">最新100篇</a></li>
              </ul>
            </div>
            <div class="site-info"> © 2019 <a href="https://www.zhutibaba.com/demo/bokex">博客X</a> - 主题巴巴原创 <a
                href="http://www.zhutibaba.com/" target="_blank">WordPress 主题</a></div>
          </div>
          <div class="footer-search">
            <form id="footer-searchform" method="get" action="https://www.zhutibaba.com/demo/bokex/"> <input
                type="search" name="s" class="search-input" placeholder="请输入关键词" autocomplete="off"> <button
                type="submit" class="search-submit">搜索</button></form>
            <div class="popular-search"> 热搜: <a
                href="https://www.zhutibaba.com/demo/bokex/tag/%e6%a0%87%e7%ad%be%e4%b8%80"
                class="tag-cloud-link tag-link-28 tag-link-position-1" style="font-size: 13px;">标签一</a> <a
                href="https://www.zhutibaba.com/demo/bokex/tag/%e6%a0%87%e7%ad%be%e4%ba%8c"
                class="tag-cloud-link tag-link-30 tag-link-position-2" style="font-size: 13px;">标签二</a> <a
                href="https://www.zhutibaba.com/demo/bokex/tag/%e6%a0%87%e7%ad%be3"
                class="tag-cloud-link tag-link-27 tag-link-position-3" style="font-size: 13px;">标签3</a> <a
                href="https://www.zhutibaba.com/demo/bokex/tag/%e6%a0%87%e7%ad%be1"
                class="tag-cloud-link tag-link-25 tag-link-position-4" style="font-size: 13px;">标签1</a> <a
                href="https://www.zhutibaba.com/demo/bokex/tag/%e6%a0%87%e7%ad%be2"
                class="tag-cloud-link tag-link-26 tag-link-position-5" style="font-size: 13px;">标签2</a></div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <div class="bottom-right" style="display: block;">
    <div class="icon-contact tooltip bottom-icon"> <span class="icon-link"> <span class="icon"><i
            class="fa fa-phone"></i></span> <span class="text">联系我们</span> </span>
      <div class="left-space">
        <div class="left">
          <div class="contact-info">
            <h3>联系我们</h3> <strong>0898-88881688</strong>
            <p>在线咨询: <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3599145122&amp;site=qq&amp;menu=yes"
                target="_blank"><img src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/qqchat.gif" alt="QQ交谈"></a></p>
            <p>邮箱: email@wangzhan.com</p>
            <p>工作时间：周一至周五，9:00-17:30，节假日休息</p>
          </div> <i></i>
        </div>
      </div>
    </div>
    <div class="icon-weixin tooltip bottom-icon"> <span class="icon-link"> <span class="icon"><i
            class="fa fa-wechat"></i></span> <span class="text">关注微信</span> </span>
      <div class="left-space">
        <div class="left"> <img src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/weixin-qrcode.png" alt="微信扫一扫关注我们">
          <h3>微信扫一扫关注我们</h3> <i></i>
        </div>
      </div>
    </div>
    <div class="icon-weibo bottom-icon"> <a href="https://weibo.com/zhutibaba" target="_blank"> <span class="icon"><i
            class="fa fa-weibo"></i></span> <span class="text">关注微博</span> </a></div>
    <div id="back-top" class="bottom-icon" style="visibility: visible;"> <a
        href="https://www.zhutibaba.com/demo/bokex/560.html#top" title="返回顶部"> <span class="icon"><i
            class="fa fa-chevron-up"></i></span> <span class="text">返回顶部</span> </a></div>
  </div>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?adffbbfa4c220a656094574941c145dc";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <script type="text/javascript"
    src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/autoptimize_single_5ee990907b315027da600eeeaee2e04b.js"></script>
  <script type="text/javascript">
    if (jQuery) {
      jQuery(function ($) {
        $.ajax({
          url: 'https://www.zhutibaba.com/demo/bokex/wp-admin/admin-ajax.php?action=xunhuweb_cron',
          type: 'post',
          timeout: 60 * 1000,
          async: true,
          cache: false
        });
      });
    }
  </script>
  <div id="wsocial-dialog-login" style="display: none; position: fixed; z-index: 999; top: 187.5px; left: 519px;">
    <div class="xh-cover"></div>
    <div class="xh-regbox xh-window">
      <div class="xh-title">登录</div>
      <form class="xh-form">
        <div class="commonlogin68e406d807babbee40ba4a719431abd80 fields-error"></div>
        <div class="xh-form-group"> <label class="required">用户名/邮箱/手机</label> <input type="text"
            id="login68e406d807babbee40ba4a719431abd80_login_name" name="login_name" value="" placeholder="请输入用户名，邮箱或手机"
            class="form-control " style=""></div>
        <script type="text/javascript">
          (function ($) {
            $(document).bind('on_form_login68e406d807babbee40ba4a719431abd80_submit', function (e, m) {
              m.login_name = $('#login68e406d807babbee40ba4a719431abd80_login_name').val();
            });

          })(jQuery);
        </script>
        <div class="xh-form-group"> <label class="required">密码</label> <input type="password"
            id="login68e406d807babbee40ba4a719431abd80_login_password" name="login_password" value="" placeholder=""
            class="form-control " style=""></div>
        <script type="text/javascript">
          (function ($) {
            $(document).bind('on_form_login68e406d807babbee40ba4a719431abd80_submit', function (e, m) {
              m.login_password = $('#login68e406d807babbee40ba4a719431abd80_login_password').val();
            });

          })(jQuery);
        </script>
        <div class="xh-form-group mt10"> <button type="button" id="btn-login" onclick="window.xh_social_view.login();"
            class="xh-btn xh-btn-primary xh-btn-block xh-btn-lg">登录</button></div>
      </form>
      <script type="text/javascript">
        (function ($) {
          if (!window.xh_social_view) {
            window.xh_social_view = {};
          }

          window.xh_social_view.reset = function () {
            $('.xh-alert').empty().css('display', 'none');
          };

          window.xh_social_view.error = function (msg, parent) {
            var s = parent ? (parent + '.fields-error') : '.fields-error';
            $(s).html('<div class="xh-alert xh-alert-danger" role="alert">' + msg + '</div>').css('display',
              'block');
          };

          window.xh_social_view.warning = function (msg, parent) {
            var s = parent ? (parent + '.fields-error') : '.fields-error';
            $(s).html('<div class="xh-alert xh-alert-warning" role="alert">' + msg + '</div>').css('display',
              'block');
          };

          window.xh_social_view.success = function (msg, parent) {
            var s = parent ? (parent + '.fields-error') : '.fields-error';
            $(s).html('<div class="xh-alert xh-alert-success" role="alert">' + msg + '</div>').css('display',
              'block');
          };
        })(jQuery);
      </script>
      <script type="text/javascript">
        (function ($) {
          $(document).keypress(function (e) {
            if (window.__wsocial_enable_entrl_submit) {
              if (e.which == 13) {
                window.xh_social_view.login();
              }
            }
          });

          window.xh_social_view.login = function () {
            window.xh_social_view.reset();
            var data = {};
            $(document).trigger('on_form_login68e406d807babbee40ba4a719431abd80_submit', data);
            $('#btn-login').attr('disabled', 'disabled').text('加载中...');
            this.loading = true;

            jQuery.ajax({
              url: 'https://www.zhutibaba.com/demo/bokex/wp-admin/admin-ajax.php?action=xh_social_add_ons_login&tab=login&xh_social_add_ons_login=73ab316e0c&notice_str=7216656745&hash=f231e0882deadaeae21f4454f3e6eb4d',
              type: 'post',
              timeout: 60 * 1000,
              async: true,
              cache: false,
              data: data,
              dataType: 'json',
              complete: function () {
                $('#btn-login').removeAttr('disabled').text('登录');
              },
              success: function (m) {
                if (m.errcode == 405 || m.errcode == 0) {
                  window.xh_social_view.success('登录成功！', '.commonlogin68e406d807babbee40ba4a719431abd80');

                  if (window.top && window.top != window.self) {
                    var $wp_dialog = jQuery('#wp-auth-check-wrap', window.top.document);
                    if ($wp_dialog.length > 0) {
                      $wp_dialog.hide();
                      return;
                    }
                  }

                  location.href = 'https://www.zhutibaba.com/demo/bokex/560.html';
                  return;
                }

                window.xh_social_view.error(m.errmsg, '.commonlogin68e406d807babbee40ba4a719431abd80');
              },
              error: function (e) {
                window.xh_social_view.error('系统内部错误！', '.commonlogin68e406d807babbee40ba4a719431abd80');
                console.error(e.responseText);
              }
            });
          };
        })(jQuery);
      </script>
      <div class="xh-user-register xh-w"> <a href="https://www.zhutibaba.com/demo/bokex/register">注册</a>|<a
          href="https://www.zhutibaba.com/demo/wp-login.php?action=lostpassword">忘记密码？</a></div> <a class="xh-close"
        href="javascript:void(0);"></a>
    </div>
  </div>
  <script type="text/javascript">
    (function ($) {
      $('#wsocial-dialog-login .xh-close,#wsocial-dialog-login .xh-cover').click(function () {
        window.__wsocial_enable_entrl_submit = false;
        $('#wsocial-dialog-login').hide();
      });
      window.wsocial_dialog_login_show = function () {
        $('#wsocial-dialog-login').css('display', 'block');
        window.__wsocial_enable_entrl_submit = true;
        window.__modal_wsocial_login_resize();
      };
      $(function () {
        $('.btn-wsocial-login').click(function (event) {
          event.stopPropagation();
          window.wsocial_dialog_login_show();
          return false;
        });
      });
      window.__modal_wsocial_login_resize = function () {
        var $ul = $('#wsocial-dialog-login');
        var width = window.innerWidth,
          height = window.innerHeight;
        if (typeof width != 'number') {
          if (document.compatMode == 'CSS1Compat') {
            width = document.documentElement.clientWidth;
            height = document.documentElement.clientHeight;
          } else {
            width = document.body.clientWidth;
            height = document.body.clientHeight;
          }
        }
        $ul.css({
          top: ((height - $ul.height()) / 2) + "px",
          left: ((width - $ul.width()) / 2) + "px"
        });
      };
      $(window).resize(function () {
        window.__modal_wsocial_login_resize();
      });
    })(jQuery);
  </script>
  <script>
    window._bd_share_config = {
      "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16"
      },
      "share": {}
    };
    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src =
      '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
  </script>
  <script>
    (function ($) { //create closure so we can safely use $ as alias for jQuery

      $(document).ready(function () {

        "use strict";

        /*-----------------------------------------------------------------------------------*/
        /*  Slick Mobile Menu
        /*-----------------------------------------------------------------------------------*/
        $('#primary-menu').slicknav({
          prependTo: '#slick-mobile-menu',
          allowParentLinks: true,
          label: '导航'
        });

      });

    })(jQuery);
  </script>
  <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
  <script type="text/javascript">
    (function ($) { //create closure so we can safely use $ as alias for jQuery

      $(document).ready(function () {

        "use strict";
        $(window).load(function () {
          var stickySidebar = new StickySidebar('#secondary', {
            topSpacing: 20,
            bottomSpacing: 20,
            containerSelector: '.site_container',
            innerWrapperSelector: '.sidebar__inner'
          });
        });

      });


    })(jQuery);
  </script>
  <script type="text/javascript" defer=""
    src="./多地住房公积金政策收紧 异地购房提取难度加大 – 博客X_files/autoptimize_cc63896c73ddeeb3a90b5ad7194d602e.js"></script>
  <!-- Dynamic page generated in 0.205 seconds. -->
  <!-- Cached page generated by WP-Super-Cache on 2019-05-12 21:24:22 -->

  <!-- Compression = gzip -->
</body>

</html>